.Dashbord-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  .block1{
   background: white;
   border-radius: 10px;
   box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
  }
  .block2{
   background: orange;
   display: flex;
  }
  .block3{
  background: green;
  }
}