.container-godday{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 35px;
  
  .greet-section{
   h2{
    font-size: 1.2rem;
    font-weight: 400;
   }
  }
  .statics-task{
    display: flex;
    justify-content: space-between;
    span{
      display: flex;
      gap: 10px;
      align-items: center;
      
      .line{
       width: 7px;         
      height: 18px;      
     background-color: black;  
      display: flex;
    border-radius: 10px;
    
      }
      p{
       display: flex;
       align-items: center;
       text-align: center;
       color: gray;
      }
      .numbers-total{
        color: black;
        font-weight: bold;
        
      }
    }
  }
  @media (max-width:768px) {
    .container-godday{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 50px;
      padding: 20px;
      .greet-section{
        h2{
          font-size: 1.2rem;
          span {
          display: block;
          margin-top: 5px;
        }
        }
         small {
        display: block;
        margin-top: 8px;
        font-size: 0.9rem;
      }
      }
    }
    .statics-task{
       flex-direction: column;
      gap: 20px;
      margin-top: 20px;
      span{
          justify-content: flex-start;
             p {
          font-size: 0.95rem;
        }
        .numbers-total {
          font-weight: bold;
        }
      }
    }
  }
}