.chart-pie-container {
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .chart-title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }

  .recharts-responsive-container {
    width: 100% !important;
    height: 300px !important;
  }
}

@media (max-width: 768px) {
  .chart-pie-container {
    height: auto;

    .recharts-responsive-container {
      height: 250px !important;
    }
  }
}
